/* .carousel {
  height: 600px;
  perspective: 250px;
}
.carousel .carousel-item {
  width: 450px;
  background: none;
  padding: 50px;
  height: auto;
  text-align: center;
  border-radius: 15px;
}
.img-area {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
}
.img-area img {
  width: 100%;
}
.testi p {
  color: #262626;
  font-size: 18px;
  line-height: 1.9;
}
.testi h4 {
  font-size: 20px;
  margin: 0;
  color: #000;
}
.testi h5 {
  font-size: 14px;
  letter-spacing: 5px;
  margin: 7px 0;
}
.man {
  width: 23rem;
  height: 36rem;
  margin-left: -1rem;
  margin-top: 71px;
  border-radius: 2rem;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.searchFilter {
  margin-bottom: 20px;
}
.searchFilter.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 16px;
  border-radius: 0.25rem;
  height: 50px;
  min-width: 20px;
}
.searchFilter .btn-secondary {
  color: #373a3c;
  background-color: #fff;
  border: 1px solid #ccc;
}
.searchFilter .btn-secondary:hover {
  color: #373a3c;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.searchFilter .btn-search {
  background-color: #00aced;
  color: #fff;
  border: 1px solid #00aced;
}
.searchFilter .btn-search:hover {
  background-color: #b20a11;
  color: #fff;
  border: 1px solid #b20a11;
}
.searchFilter .label-icon {
  display: none;
}
.searchFilter .glyphicon {
  margin-right: -15px;
}
.searchFilter .dropdown-menu .category_filters {
  min-width: 178px;
  width: 100%;
  margin: 15px 0 0 -25px;
}
.searchFilter .dropdown-menu-right {
  right: 170px;
  min-width: 175px;
  top: 90%;
}
.searchFilter .dropdown-menu .category_filters li {
  list-style-type: none;
  padding: 2px 10px;
  font-size: 18px;
}
.searchFilter .dropdown-menu .category_filters label {
  margin-left: 15px;
}
@media (min-width: 1400px) {
  .ct-header .ct-jumbotron .inner {
    max-width: 470px;
    min-height: 230px;
  }
}
@media (max-width: 1400px) {
  .ct-header-slider .item {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
  }
}
@media (min-width: 769px) and (max-width: 1400px) {
  .ct-header-slider .item {
    height: auto;
  }
}
@media (max-width: 1260px) {
  #dots-container {
    display: none;
  }
}
@media (min-width: 992px) {
  .ct-footer2 .ct-newsletter {
    max-width: 100%;
  }
  #dots-container {
    bottom: 100px;
  }
}
@media (min-width: 768px) {
  .ct-searchbar:before {
    height: 92px;
    bottom: -1px;
  }
  .page-scrolled .navbar .navbar-nav li > * {
    min-height: 67px;
    height: 67px;
  }
  .page-scrolled .navbar .navbar-nav {
    height: 100% !important;
  }
  .ct-current-facts h2 {
    margin: 0 auto 0px;
  }
  .contentNews .ct-recent-news {
    flex-direction: inherit;
  }
  .contentFaq .faq_question .col-sm-11 {
    padding-right: 0px;
  }
  .peopleDetail h2 {
    margin-top: -5px;
  }
  .searchFilter .btn {
    min-width: 172px;
  }
  .searchFilter .label-icon {
    display: inline-block;
  }
  .searchFilter .glyphicon {
    margin-right: -5px;
  }
  .ct-header .ct-jumbotron {
    top: 0;
    margin-top: 5%;
  }
  .ct-header .ct-jumbotron h1 {
    font-size: 2.5em;
  }
  .ct-news.ct-news--bigger h3 {
    font-size: 41px;
    line-height: 1.4;
  }
}
@media (max-width: 768px) {
  .ct-header .ct-jumbotron {
    width: 80%;
    margin: 20px 10px;
    top: 40%;
    width: 95%;
  }
  .ct-header .ct-jumbotron .inner {
    max-width: 100%;
  }
  #dots-container {
    display: none;
  }
  .main-section {
    margin-top: -80px;
  }
  .searchFilter .dropdown-menu-right {
    right: 0px;
  }
} */

.carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
  margin-left: 15px;
}
.carousel-showmanymoveone .carousel-control.right {
  margin-right: 15px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3 {
  display: none;
}
@media all and (min-width: 768px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d),
  all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -25%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 25%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d),
  all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
.container {
  margin-bottom: 50px;
}
body {
  font-family: "Bitter", sans-serif;
  color: #e54a41;
  background-image: url("//static.rtpdesign.co.uk/blog/img/background.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 20%;
}
p {
  font-family: "Open Sans", sans-serif;
  color: #333;
  margin-bottom: 2em;
}
h2 {
  margin: 2em 0 1em;
}
.logo {
  margin: 20px auto;
  height: 100px;
}
@media only screen and (min-width: 768px) {
  .logo {
    margin: 28px;
    float: left;
  }
}
.title {
  padding: 28px;
  display: table-cell;
  position: relative;
  vertical-align: middle;
  text-align: center;
}
