.Team-Header {
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 69px;
  text-align: center;
  margin-top: 5rem;
  color: #ffffff;
}
.Team-paragraph {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #c4c4c4;
}
body {
  margin: 0;
  padding: 0;
}
.carousel {
  height: 600px;
  perspective: 250px;
}
.carousel .carousel-item {
  width: 450px;
  background: none;
  padding: 50px;
  height: auto;
  text-align: center;
  border-radius: 15px;
}
.img-area {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
}
.img-area img {
  width: 100%;
}
.testi p {
  color: #262626;
  font-size: 18px;
  line-height: 1.9;
}
.testi h4 {
  font-size: 20px;
  margin: 0;
  color: #000;
}
.testi h5 {
  font-size: 14px;
  letter-spacing: 5px;
  margin: 7px 0;
}
.man {
  width: 23rem;
  height: 36rem;
  margin-left: -1rem;
  margin-top: 71px;
  border-radius: 2rem;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
